head {
  margins: auto;
  width: 72%;
}

body {
  margins:auto;
  width:80%;
}

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
  border: 1px dotted #000;
  padding: 10px;
  margin: 10px;
}

header img {
  display: inline-block;
  font-size: 200px;

}

header h1 {
  display: inline-block;
}

#SiteLogo {
  width: 15%;
  height: 30%;
  border: 5px;
  padding: 10px;
  margin: 10px;
}

nav{
  background-color: CCC;

}

nav li{
  display: inline-block;
  background-color: BBB;
  width: 20%;
  border: 1px;
  border-style: solid;
  border-color: 333;
}

#Section1 {
  background-color: CCC;
  width: 98%;
  height: 100%;
}

#Content1 {
  width: 60%;
  height: 84%;
  float: left;

}

#Para1 {
  background-color: BBB;
  width: 90%;
  height: 80%;
  border: 1px;
  padding: 10px;
  margin: 10px;
}

#P1 {
  background-color: BBB;
  width: 90%;
  height: 10%;
  border: 1px;
  padding: 10px;
  margin: 10px;
}

#Content2 {
  background-color: CCC;
  width: 34%;
  height: 84%;
  border-style: dotted;
  float: right;
}

.BlogPostThumb img {
  display: inline-block;
  width: 140px;
  height: 140px;
}

.BlogPostThumb {
  background-color: BBB;
  float: right;
  display: inline-block;
  width: 140px;
  height: 140px;
}
